[Unit]
Description=Torniquete UAC (QR, huellas, voz y relés)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pirb
Group=pirb
SupplementaryGroups=input dialout gpio audio
WorkingDirectory=/home/pirb
ExecStart=/home/pirb/torniquete-venv/bin/python /home/pirb/torniquete.py
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
